<!DOCTYPE html>
<html>
  <head>
    <title>Malvizz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body onload="load()">
    <%= yield %>
    <script src="https://d3js.org/d3-brush.v1.min.js"></script>
  </body>
</html>
